body{
    height: 100%;
}
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

.navbar-toggle.navbar-left {
  float: left;
  margin-left: 10px;
}

#login-det ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#login-det li{
    float:left;
}
#login-det li a{
    display: inline;
    padding: 8px;   
}

/* ////////////// Login details buttons //////////////////*/
#login-dp{
    min-width: 300px;
    padding: 15px 5px 15px 5px;
    overflow: hidden;
    border:1px solid #ddd;
    margin-right: 1%;
}

#login-dp .help-block{
    font-size:12px;  
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

#login-div{
    width: 100%;
    margin-top: 3px;
}
@media only screen and (max-width:950px){
    #login-dp .vert-separator{
        background-color: black;
        width: 75%;
        height: 1px;
        margin: 12px 0px 12px 15%;
    }

    
}

/* ////////////////////Social buttons ///////////////////*/

.btn-fb{
    color: #fff;
    background-color:#3b5998;
    margin-top: 5%;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    margin-top: 1%;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
#login-dp .social-buttons{
    width: 100%;
    margin-top: 2%;
}
#login-dp .social-buttons a{
    width: 90%;    
}

/* ////////////////////search bar ///////////////////*/
#searchbox{
    margin-top:10px;
    margin-bottom:10px;
    width:250px;
    display: none;
    position: relative;
}
.stylish-input-group .input-group-addon{
    background: white; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

/* //////////////////// footer ///////////////////*/
.footer{
        bottom: 0;
        position: relative;
        height: 50px;
        width: 100%;
        color:white;
        text-align: center;
        background-color:#555;
        padding: 10px;
        z-index: 1000;
    }
/*/////////////////////// modal ////////////////*/
#regContainer{
    border-right: 1px dotted #C2C2C2;
    padding-right: 30px;
    
}

#news-hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #f1f1f1, #f1f1f1, #f1f1f1);
    margin-bottom: 3pt;
    margin-top: 0;
}

#top-group-container{
     background-color:white;  
}

#news-container {
    min-width: 350px; 
    height:175px;
    margin-bottom: 2px;
    margin-left: 0;
}
/* format images in news feed containers */
#news-container img{
    max-width:200px; 
    max-height:120px; 
    float: left; 
    margin-right: 10px;
}
#inner-news-cont{  
    overflow-x:hidden;
    overflow-y: scroll;
    padding:0;
    height:360px;
}

.arrange li{
    display:inline;
}

/*button format*/
.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
  
}

.btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
  
}
/*
#SportsSelection #categories-buttons-container {
    
}
*/
/* Bookmark news containers */
#book-group-container{
    box-shadow: 3px 3px 3px #888888; 
    margin:1%; 
    border: solid #f1f1f1;
}

.row #fav-star{
    background-color:green; 
    margin-left:20px;
}

#book-inner-container{
    background-color:blue; 
    height: auto; 
}
#book-pagnum-container{
    background-color:purple; 
    height:20px;
    margin-bottom: 10px;
}
.row #book-next-arrow{
    background-color: crimson;
    margin-top: 100px;
}
#book-news-container{
    background-color: yellow;
    height: 200px;
    margin-top: 10px;
}

.container #book-previous-arrow{
    margin-top: 71px;
}





